.app__header{
   background-color: var(--color-black); 
}
.app__header-h1{
font-family: var(--font-base);
color: var(--color-golden);
letter-spacing: 0.3em;
text-transform: uppercase;
line-height: 117px;
font-size:  90px;
}
.app__wrapper_img{
    width: 80%;
}
.custom__button{ 
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(243, 227, 227, 0.5),
     7px 7px 20px 0px rgba(230, 230, 230, 0.836),
     4px 4px 5px 0px rgba(108, 128, 23, 0.836);
    outline: none;
  }
.custom__button {
    background: rgba(172, 101, 54, 0.308);
  background: linear-gradient(0deg, rgba(217,114,3,255) 0%, rgb(250, 248, 108) 100%);
    width: 160px;
    height: 50px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }

  .custom__button:before,
  .custom__button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgb(33, 84, 180);
    transition: all 0.3s ease;
  }
  .custom__button:before {
    height: 0%;
    width: 2px;
  }
  .custom__button:after {
    width: 0%;
    height: 2px;
  }
  .custom__button:hover{
     background: var(--color-golden);
    box-shadow: none;
  }
  .custom__button:hover:before {
    height: 100%;
  }
  .custom__button:hover:after {
    width: 100%;
  }

